/* Base */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: #fff;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 6%;
    background: #1a1a1a;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-img {
    width: 90px;
    border-radius: 50%;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.logo span {
    color: #ff0000;
}

.nav a {
    margin-left: 20px;
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
}

.nav a.active,
.nav a:hover {
    color: #ff0000;
}

/* Location Section */
.location-section {
    padding: 50px 6%;
    text-align: center;
}

.location-title {
    font-size: 38px;
    color: #ff0000;
    margin-bottom: 10px;
}

.location-subtitle {
    font-size: 18px;
    color: #bbb;
    margin-bottom: 40px;
}

/* Location Cards */
.locations-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    margin-bottom: 50px;
}

.location-card {
    background: rgb(15, 3, 3);
    padding: 25px;
    border-radius: 15px;
    transition: 0.3s;
    text-align: center;
}

.location-card:hover {
    transform: translateY(-8px);
    background: #262626;
}

.location-card h3 {
    font-size: 22px;
    margin-bottom: 12px;
}

.location-card p {
    font-size: 15px;
    color: #ccc;
    margin-bottom: 12px;
}

.location-btn {
    text-decoration: none;
    color: #fff;
    background: #ff0000;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 0.3s;
}

.location-btn:hover {
    background: #e60000;
}

/* Map */
.map-container {
    width: 100%;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
}
