body {
    margin: 0;
    background: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    background:#1a1a1a;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-img {
    width: 90px;
    border-radius: 550%;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.logo span {
    color: #e71d1d;
}

.nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #bbbbbb;
}

.nav a.active,
.nav a:hover {
    color: #d81515;
}

/* Category Buttons */
.category-section {
    text-align: center;
    margin: 30px 0;
}

.cat-btn {
    background: #262626;
    border: none;
    padding: 12px 22px;
    margin: 8px;
    border-radius: 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.cat-btn.active,
.cat-btn:hover {
    background: #ff0000;
}

/* Menu Cards */
.menu-grid {
    padding: 0 6%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.menu-card {
    background: #000000;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}

.menu-card img {
    width: 100%;
    height: 180px;
    border-radius: 12px;
    object-fit: cover;
}

.menu-card:hover {
    transform: translateY(-8px);
}

.price {
    margin-top: 10px;
    padding: 5px 15px;
    background: #5410c2;
    border-radius: 20px;
    display: inline-block;
}
